<html>
<head>
    <title> {{header}} </title>
<style>
   p {
    border: 1px solid green;
    padding: 10px;
   }
</style>
</head>
<body>
    <small><a href="/">На главную</a></small>

    <h2>Новое сообщение</h2>
    
    <form action="/post">
        <input type="submit" value="Отправить"><br>
        <input type="hidden" name="t_id" value={{t_id}}>
        <textarea name="msg_text"></textarea>
    </form>

    <hr>

    <h2>{{header}}</h2>
    <p style="border: 3px solid red">{{op_msg}}</p>

    <hr>

    {% for post in posts %}
        <p> {{post}} </p>
    {% endfor %}

<body>
</html>
